#main {
	background-color: #e8eff4;
	font-size: 20px;
	border: 1px solid black;
	
	width: 100%;
}
#div1
{
	
	background-color: yellow;
}
.show
{
	display: block;
	background-color: #f4fcba;
	border: 1px solid black;
	font-size: 15px;
	display: block;
}
.dontshow
{
	display: none;
}


